<!DOCTYPE html>
<html>  
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Help</title>
        <link rel='icon' href='/img/icon.png'>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            No one is comming to help you. Help yourself.
        </div>
        {{>footer}}
    </body>
</html>